body{
  margin:0;
  font:12px/14px Helvetica,Arial,sans-serif;
}
/* General reset */
img{border-style:none;}
a{color:#000;}
a:hover{text-decoration:none;}
input,
textarea,
select{
  font:100% arial,sans-serif;
  vertical-align:middle;
}
form,fieldset{
  margin:0;
  padding:0;
  border:none;
}
#page {
  width:940px;
  margin:0 auto;
}
#header {
  width:100%;
  position:relative;
  overflow:hidden;
  padding-bottom:13px;
  border-bottom:1px solid #ccc;
}
#header h1 {
  margin:0;
  width:86px;
  position:absolute;
  top:22px;
  left:0;
}
#header h1 a {
  display:block;
  height:63px;
  cursor:pointer;
  overflow:hidden;
  text-indent:-9999px;
  background:url(logo.gif) no-repeat;
}
#header .search {
  float:right;
  margin:22px 0 0;
  width:221px;
  overflow:hidden;
}
#header .search .wrap {
  width:108px;
  float:left;
  height:20px;
  overflow:hidden;
  background:url(bg-input.gif) no-repeat;
}
#header .search .wrap input.text {
  width:87px;
  border:0;
  background:none;
  margin:4px 0 0;
  float:left;
  padding:0 0 4px 14px;
  font-size:10px;
  color:#ccc;
  letter-spacing:-1px;
}
#header .search input.btn {
  float:left;
  margin:0;
  padding:0;
}
#header .search a.cart {
  font-size:12px;
  line-height:16px;
  color:#666;
  float:right;
  padding:0 0 0 1px;
  margin:2px 3px 0 0;
  font-weight:bold;
  text-decoration:none;
}
#header .search a.cart:hover {
  text-decoration:underline;
}
#header ul {
  overflow:hidden;
  padding:0;
  display:inline;
  margin:28px -6px 0 0;
  clear:both;
  float:right;
  list-style:none;
  font-size:14px;
  line-height:16px;
  font-weight:bold;
}
#header ul li {
  float:left;
  padding:0 6px 0 5px;
  margin:0 0 0 -2px;
  background:url(separator.gif) no-repeat 0 50%;
}
#header ul a {
  color:#ccc;
  text-decoration:none;
}
#header ul a:hover {
  text-decoration:underline;
}
#main {
  width:100%;
  overflow:hidden;
  padding:0 0 42px;
}
#sidebar {
  width:205px;
  float:left;
  overflow:hidden;
}
#sidebar h2 {
  margin:0;
  font-size:29px;
  line-height:32px;
  color:#cc9966;
  font-weight:normal;
}
.title {
  width:100%;
  margin:12px 0 14px;
  overflow:hidden;
}
.title span {
  margin:0;
  font-size:12px;
  line-height:14px;
  color:#666;
  font-weight:bold;
}
#sidebar p {
  margin:0;
  font-size:12px;
  line-height:14px;
  color:#666;
}
#sidebar h3 {
  margin:0;
  font-size:12px;
  line-height:14px;
  color:#666;
}
#sidebar p {
  margin:0 0 16px;
  font-size:12px;
  line-height:14px;
  color:#666;
}
#content {
  width:689px;
  float:right;
  overflow:hidden;
}
#content .box {
  width:100%;
  margin-top:18px;
  overflow:hidden;
}
#content .box .image {
  width:147px;
  padding-left:48px;
  overflow:hidden;
  float:left;
}
#main ul.product {
  overflow:hidden;
  width:110%;
  margin:16px 0 0;
  padding:0;
  list-style:none;
}
#content .box .content-box {
  width:290px;
  float:left;
  padding-left:94px;
  overflow:hidden;
}
#content .box .content-box h3 {
  margin:0 0 16px;
  font-size:18px;
  line-height:22px;
  color:#999;
}
#content .box .content-box h3 span {
  display:block;
}
#content .box .content-box p {
  margin:0 0 17px;
  font-size:12px;
  line-height:14px;
  color:#999;
}
#content .box .content-box a.add {
  display:block;
  margin-top:23px;
  outline:0;
  text-decoration:none;
  width:82px;
  height:25px;
  text-indent:-9999px;
  background:url(add.gif) no-repeat;
}
#content .box .back {
  width:492px;
  float:right;
  overflow:hidden;
  font-size:14px;
  line-height:18px;
}
#content .box .back a {
  display:block;
  color:#999;
  height:19px;
  float:right;
  padding:0 0 0 24px;
  text-decoration:none;
  background:url(arrow.gif) no-repeat 0 50%;
}
#content .box .back a:hover {
  text-decoration:underline;
}
#main .more-products {
  width:100%;
  overflow:hidden;
}
#main ul.product li {
  float:left;
  padding:0 40px 3px 0;
}
#main ul.product li img {
  display:block;
}
#main ul.product li a {
  display:block;
  width:142px;
  height:196px;
  padding-bottom:8px;
  cursor:pointer;
  position:relative;
  color:#999;
  text-decoration:none;
}
#main ul.product li a:hover {
  text-decoration:underline;
}
#main ul.product li a strong {
  position:absolute;
  bottom:2px;
  width:152px;
  margin:0 0 0 -6px;
  text-align:center;
  font-size:12px;
  line-height:14px;
  color:#999;
}
#main ul.product li a strong span {
  font-size:11px;
  font-weight:normal;
  display:block;
  line-height:13px;
  color:#999;
}
#main .more-products {
  width:100%;
  padding-top:30px;
  margin-bottom:-26px;
  overflow:hidden;
  clear:both;
}
#main .more-products .top {
  width:100%;
  overflow:hidden;
  border-bottom:1px solid #ccc;
}
#main .more-products .top a.title {
  width:118px;
  display:block;
  text-decoration:none;
  text-align:center;
  height:16px;
  padding:1px 0 0;
  margin:0 0 0 409px;
  border:1px solid #ccc;  
  border-width:1px 1px 0;
  font-size:12px;
  line-height:14px;
  color:#999;
}
#main .more-products ul {
  margin:7px 0 0 36px;
}
#main .trade {
  width:100%;
  margin-bottom:-35px;
  overflow:hidden;
}
#main .trade .checkout {
  width:100%;
  margin-top:9px;
  overflow:hidden;
}
#main .trade .checkout a.continue {
  display:block;
  float:left;
  height:19px;
  margin-top:3px;
  padding:0 0 0 24px;
  background:url(arrow.gif) no-repeat 0 50%;
  font-size:14px;
  line-height:19px;
  color:#999;
  text-decoration:none;
}
#main .trade .checkout a.continue:hover {
  text-decoration:underline;
}
#main .trade .checkout a.check {
  display:block;
  float:right;
  width:82px;
  height:25px;
  text-decoration:none;
  text-indent:-9999px;
  background:url(checkout.gif) no-repeat;
} 
#main .trade .top {
  width:100%;
  padding-bottom:10px;
  margin-top:8px;
  overflow:hidden;
  border:1px solid #ccc;
  border-width:1px 0;
}
#main .trade .top span {
  margin-top:9px;
  float:left;
  font-size:14px;
  line-height:16px;
  color:#999;
  font-weight:bold;
}
#main .trade .top ul {
  margin:9px 0 0;
  padding:0 108px 0 0;
  float:right;
  list-style:none;
  font-size:14px;
  line-height:16px;
  font-weight:bold;
  color:#999;
}
#main .trade .top ul li {
  float:left;
  padding:0 0 0 60px;
}
#main .trade .product {
  width:100%;
  padding:13px 0 11px;
  overflow:hidden;
}
#main .trade .product .box {
  float:left;
  width:400px;
}
#main .trade .product img {
  float:left;
  padding:0 38px 0 15px;
}
#main .trade .product ul {
  float:left;
  margin:24px 0 0;
  padding:0 4px 0 60px;
  list-style:none;
  font-size:12px;
  line-height:14px;
  color:#999;
}
#main .trade .product ul a {
  display:block;
  color:#999;
}
#main .trade .product ul li {
  float:left;
  width:60px;
  padding:0 0 0 40px;
}
#main .trade .product ul input {
  width:18px;
  padding:0 2px;
  margin-left:6px;
  border:1px solid #c3c3c3;
  border-top:1px solid #7c7c7c;
}
#main .trade .product p {
  margin:25px 0 0;
  font-size:12px;
  line-height:14px;
  color:#999;
}
#main .trade .product a.remove {
  float:right;
  font-size:12px;
  line-height:14px;
  color:#999;
  margin:24px 4px 0 0;
}
#main .subtotal {
  width:100%;
  overflow:hidden;
  text-align:right;
  font-size:14px;
  line-height:16px;
  color:#999;
  border:1px solid #ccc;
  border-width:1px 0;
  padding:9px 0;
}
#footer {
  width:100%;
  padding:20px 0 5px;
  border-top:1px solid #ccc;
  text-align:center;
  overflow:hidden;
}
#footer ul {
  margin:0;
  padding:0;
  list-style:none;
  font-size:12px;
  line-height:16px;
} 
#footer ul li {
  display:inline;
  padding:0 3px 0 5px;
  background:url(separator.gif) no-repeat 0 50%;
}
#footer ul li:first-child {background:none;}
#footer ul a {
  color:#999;
  text-decoration:none;
}
#footer ul a:hover {
  text-decoration:underline;
}
#footer p {
  margin:2px 0 0;
  font-size:10px;
  line-height:16px;
  color:#666;
}

.hide {display:none;}